---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v2/business/india-bistro-seattle
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="DOZfhe1yESBrcYsFC_c53g", oauth_nonce="44f255003b6c506b60572d1c5f6a657e",
        oauth_signature="jeTuSaWHTh0QQiHQPEViBGrWwlA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1463967058", oauth_token="-1E4rzH9gpDSawEw2r__LDIUlg04SqWq",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Node:
      - api_com
      - web63-r7-sfo2
      X-Mode:
      - ro
      X-Proxied:
      - extlb7-r10-sfo2
    body:
      encoding: ASCII-8BIT
      string: '{"is_claimed": true, "rating": 3.5, "mobile_url": "http://m.yelp.com/biz/india-bistro-seattle?utm_campaign=yelp_api\u0026utm_medium=api_v2_business\u0026utm_source=DOZfhe1yESBrcYsFC_c53g",
        "rating_img_url": "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/5ef3eb3cb162/ico/stars/v1/stars_3_half.png",
        "review_count": 267, "name": "India Bistro", "rating_img_url_small": "https://s3-media1.fl.yelpcdn.com/assets/2/www/img/2e909d5d3536/ico/stars/v1/stars_small_3_half.png",
        "url": "http://www.yelp.com/biz/india-bistro-seattle?utm_campaign=yelp_api\u0026utm_medium=api_v2_business\u0026utm_source=DOZfhe1yESBrcYsFC_c53g",
        "categories": [["Indian", "indpak"], ["Buffets", "buffets"]], "menu_date_updated":
        1455157947, "reviews": [{"rating": 4, "excerpt": "Ate dinner here last night.
        Enjoyed the murg masala and the chicken coconut curry was delicious!\n\nDon''t
        miss the garlic naan. Huge piece and I wish I had...", "time_created": 1458923372,
        "rating_image_url": "https://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png",
        "rating_image_small_url": "https://s3-media4.fl.yelpcdn.com/assets/2/www/img/f62a5be2f902/ico/stars/v1/stars_small_4.png",
        "user": {"image_url": "http://s3-media1.fl.yelpcdn.com/photo/w58cMKJawxivNw8nmeKMRA/ms.jpg",
        "id": "6Xv5PcR-yAatNNOahI0gNw", "name": "Sarah F."}, "rating_image_large_url":
        "https://s3-media2.fl.yelpcdn.com/assets/2/www/img/ccf2b76faa2c/ico/stars/v1/stars_large_4.png",
        "id": "EPBXa3ijwAaWlO87E91A2A"}], "phone": "2067835080", "snippet_text": "Ate
        dinner here last night. Enjoyed the murg masala and the chicken coconut curry
        was delicious!\n\nDon''t miss the garlic naan. Huge piece and I wish I had...",
        "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/zr-A22q08n2GYI1CGW7yBQ/ms.jpg",
        "snippet_image_url": "http://s3-media1.fl.yelpcdn.com/photo/w58cMKJawxivNw8nmeKMRA/ms.jpg",
        "display_phone": "+1-206-783-5080", "rating_img_url_large": "https://s3-media3.fl.yelpcdn.com/assets/2/www/img/bd9b7a815d1b/ico/stars/v1/stars_large_3_half.png",
        "menu_provider": "eat24", "id": "india-bistro-seattle", "is_closed": false,
        "location": {"cross_streets": "N Ballard Ave \u0026 N 24th Ave", "city": "Seattle",
        "display_address": ["2301 NW Market St", "Ballard", "Seattle, WA 98107"],
        "geo_accuracy": 9.5, "neighborhoods": ["Ballard"], "postal_code": "98107",
        "country_code": "US", "address": ["2301 NW Market St"], "coordinate": {"latitude":
        47.6684978107312, "longitude": -122.386471302877}, "state_code": "WA"}}'
  recorded_at: Mon, 23 May 2016 01:30:59 GMT
recorded_with: VCR 3.0.3
