<h2>Top Suggestions</h2>

<div class="row">
  <% @top_favorites.each do |top_favorite| %>
    <%= render partial: "shared/suggestions", locals: { partial_variable: top_favorite, delete_button: false } %>
  <% end %>
</div>
