.jumbo-fix {
  margin-top: 110px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.card-h {
  height: 65rem;
  /*padding: 2rem 0rem;*/
}

body {
  background-color: #ccc;
}

.card-p {
  padding: 3rem 0rem;
}
